/* Set some basic styles for the entire page */
body {
    margin: 0;
    font-family: 'Trebuchet MS';
    background-color: #588157;
}

/* Style the header section */
header {
    background-color: #A3B18A;
    padding: 5px;
    margin: 10px 350px 0px 350px; /* Create spacing around the header */
    border-radius: 50px; /* Add rounded corners */
    box-shadow: 0 4px 8px 0;
}

/* Style the navigation bar */
nav ul {
    list-style-type: none; /* Remove list bullets */
    text-align: center; /* Center-align the link text */
}

nav ul li {
    display: inline; /* Display listed links inline */
    margin-right: 100px; /* Add spacing between the links */
}

/* Define common styles for navigation links */
nav ul li{
    color: #D6D6B1; /* text color */
    font-size: 1.5em; /* font size */
    text-decoration: none; /* Remove text underlines */
}

/* Style the link color and removes link underline */
a, p{
    color: #D6D6B1;
    text-decoration: none;
    font-family:'Trebuchet MS';
}
/* Style the links when hovered over */
a:hover {
    color: #344E41;
}

/* Create a container for the page content with space between the three columns */
.container {
    display: flex;
    justify-content: space-between;
}

/* Style for the three columns within the container */
.column1, .column2, .column3 {
    width: 30%;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0;
    height: 730px;
    border-radius: 50px;
    background-color: #A3B18A;
}

/* Style for main heading */
h1 {
    text-align: center;
    font-size: 1.75em;
    color: #D6D6B1;
}

/* Styles for the three different columns*/
.assignments, .information, .future {
    text-align: justify;
    list-style-type: none;
    font-size: 1.5em;
    font-family: Helvetica;
    color: #D6D6B1;
}

/* Style for main images on the page */
.main-img {
    width: 60%;
    height: 60%;
    margin-left: 40px;
}

/* Style of footer */
.foot {
    padding: 15px;
    margin: 15px 350px 15px 350px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0;
    height: 100px;
    background-color: #A3B18A;
    border-radius: 50px;
    text-align: center;
    font-family: 'Trebuchet MS';
    opacity: 75%;
}

/* Color of the active page in the navigation bar*/
a.active {
    color: #344E41;
}

/* Style for the container around the contact form */
.contact-container{
    height: 730px;
    background-color: #A3B18A;
    margin: 20px 30% 20px 30%;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0;
    text-align: center;
}

/* Style for the input fields of the contact form */
input {
    background-color: white;
    width: 70%;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

/* Style for the textarea of the contact form */
textarea {
    background-color: white;
    width: 70%;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
}

/* Style for the submit button */
button {
    background-color: #D6D6B1;
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

/* Style for when hovering over the submit button */
button:hover {
    opacity: 80%;
    cursor: pointer;
}

/* Style for the header of the contact form */
h2 {
    text-align: center;
    font-size: 2.5em;
    color: #344E41;
    padding-top: 20px;
}